<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12  mx-auto">
                <div class="row">
                    <!-- left-side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                         <img src="img/about.jpg" alt="aditya" class="img-fluid">
                        </figure>
                     </div>
                    
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather Lab</p>
                        <h1>I am a <span class="text_color">Mern Stack Developer</span>Coder and Problem Solver</h1>
                        <a href="#"><button>About Me</button></a>
                    </div>
                    <!-- right-side div -->
                    
                </div>

            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>

</html>